* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
body{
    height: 100vh;
}
#container {
  width: 100%;
  display: flex;
}
#bloczki {
  width: 30%;
  margin-left: 20px;
}
#plansza {
  width: 60%;
  position: relative;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#menu {
  position: absolute;
  color: black;
  background-color: gray;
  height: 200px;
  width: 250px;
}
.menuElement {
  width: 250px;
  height: 40px;
  background-color: gray;
  color: black;
  border-bottom: 1px dashed black;
}
.left {
  float: left;
  background-color: gray;
  color: black;
  font-size: 24px;
  margin-left: 20px;
  padding-top: 7px;
}
.right {
  float: right;
  background-color: gray;
  color: black;
  font-size: 24px;
  margin-right: 20px;
  padding-top: 7px;
}
